<!-- ======= Footer ======= -->
<footer class="site-footer">
		<div class="footer-info">
				<h3>SHPE UNT</h3>
				<div class="social-links">
						<a href="https://www.instagram.com/shpeunt/" target="_blank" rel="noopener noreferrer" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="https://twitter.com/shpeunt" target="_blank" rel="noopener noreferrer" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="https://discord.com/invite/Nhp2mAVNUN" target="_blank" rel="noopener noreferrer" class="discord"><i class="fab fa-discord" aria-hidden="true"></i></a>
						<a href="https://www.snapchat.com/add/untshpe?share_id=OkywFx-Q4gY&amp;locale=en-US" target="_blank" rel="noopener noreferrer" class="snapchat"><i class="fa fa-snapchat" aria-hidden="true"></i></a>
						<a href="https://open.spotify.com/playlist/6jopdEMukkQTGCT50lw2ZR?si=5770f9991c9e4690" target="_blank" rel="noopener noreferrer" class="spotify"><i class="fa fa-spotify" aria-hidden="true"></i></a>
				</div>
				<div class="credits">
						Designed by <a href="https://github.com/edwinsoto88"><strong>Edwin Soto-Villela</strong></a> and <a href="https://github.com/dwc13"><strong>Dominic Carrillo</strong></a>
				</div>
		</div>
</footer>
<!-- End Footer -->
