<!-- ======= Header ======= -->
<!--
<div class="dropdown-content">
				<a href="/about/shpetinas">SHPEtinas</a>
				<a href="/about/shpejr">SHPE Jr</a>
				<a href="/events/study-session/">Study Sessions</a>
				<a href="/events/calender">Event Calender</a>
				<a href="/conferences">Conferences</a>
</div>
-->
<nav class="navbar">

	<div class="logo">
		<a href="/"><img src="/images/icons/jpg/shpe_logo_with_UNT.jpg" alt="SHPE Homepage"></a>
	</div>

	<ul class="nav-list" id="nav-list">
		<li class="list-item"><a href="/about.html">About</a></li>
		<li class="list-item"><a href="/events.html">Events</a></li>
		<li class="list-item"><a href="/membershpe.html">MemberSHPE</a></li>
		<li class="list-item"><a href="/gallery.html">Gallery</a></li>
		<li class="list-item"><a href="/contact-us.html">Contact Us</a></li>
	</ul>

</nav>
<!-- End Header -->
