/*------------------------------
MemberSHPE
--------------------------------*/
.header-titles {
    font-size: 0.6em;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}

.dues-info-box {
    text-align: left;
    margin: auto;
    width: 50%;
    border: 3px solid black;
}

.button {
    background-color: #425884;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}

.discord-button {
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

.member-img {
    display: flex;
    justify-content: center;
}
.member-img img {
    width: 80%
}

/* Youtube Video CSS START*/
.shpe-video {
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}
.responsive-video {
  aspect-ratio: 16/9;
  width: 100%;
}
/* Youtube Video CSS END*/

.responsive-image{
    border:5px solid #555;
    margin: 10px;
    max-width: 100%;
    height: auto;
}

@media all and (max-width: 720px) {
    .responsive {
        width: 75%;
    }
}
