/*-------------------------------
	Personal
--------------------------------*/
.title-bar { 
	font-weight: bold;
	background-color: #00853E;
    text-align: center;
    padding: 5px;
}
.title-bar h1 {
	font-size: 4em;
	font-weight: bold;
	margin: 0;
	border-bottom: none;
}
.title-bar h2 {
	font-size: 1.5em;
}
.link-btn {
	margin: 5px auto;
	border: 2px solid black;
	padding: 5px;
	width: 45vw;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}
.link-btn:hover { 
	background: black;
	color: white;
}

.personal img {
	height: 400px;
	width: 400px;
    display: block;
    margin: 0 auto;
}
.personal .info h3, .personal .info p, .personal .info ul {
    display: grid;
}
.personal h3 {
    margin-top: 25px;
}
.personal p, .personal li { 
    font-size: 1.25em;
    // font-weight: bold;
}
.personal p { 
    margin: 0 15vw; 
}
.personal ul {
    padding-left: 0;
    margin: 0 auto;
    width: 50vw;
}

@media only screen and (max-width: 700px) {
    .personal p { 
        margin: 0 5vw;
    }
    .personal ul {
        width: 80vw;
    }
}

