/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer a, 
.site-footer a:visited {
	color: white;
}
.site-footer {
  background: #000;
  color: white;
	border-top: none; 
	bottom: 0;
	padding: 0;
	margin: 0;
	margin-top: auto;
	width: 100%;
	display: flex;
	text-align: center;
}
.footer-info {
	margin: 5px auto;
	width: 100%;
}
.footer-info h3 {
	margin: 0;
	padding: 0;
	color: #00853E;
}
.footer-info h3:after {
	display:none;
}
.social-links {
	margin: 0.5em;
	font-size: 1.6em;
}
.social-links a,
.social-links a:visited {
	padding: 5px 10px;
	margin: 0 15px;
	background-color: #00853E;
	border-radius: 100%;
	color: black;
}
.social-links a i {
	font-size: 25px;
}
.social-links a:hover {
	color: white;
}

@media (max-width:900px) {
	.footer-info h3 { font-size: 3em; }
	.contact { margin: 0; }
	.contact h4 { font-size: 1.7em; }
	.contact p { font-size: 1em; }
	.social-links { font-size: 1.2em; }
	.social-links a, .social-links a:visited { margin: 0 8px; }
	.social-links a i { font-size: 18px; }
	.newsletter h4 { font-size: 1.4em; }
	.credits { font-size: 12px; }
}
@media (max-width:652px) {
	.newsletter input[type=email] {
		padding: 1rem;
		width: 355px;
	}
	.newsletter input[type=submit] {
		font-size: 1rem;
		padding: 1rem;
	}
}
@media (max-width:565px) {
	.newsletter input[type=submit] {
		width: 45%;
	}
}
@media (max-width:310px) {
	.social-links a, .social-links a:visited { margin: 0 1px; }
}