/*--------------------------------------------------------------
# Header 
--------------------------------------------------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: rgb(1, 24, 9);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    max-height: 80px;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    font-size: clamp(16px, 1.5vw, 18px);
    line-height: 1;
}

.navbar .logo {
    //max-width: 25%;
    padding: 15px;
}

.navbar .logo img {
    //max-width: 100%;
    height: 50px;
    width: auto;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list .list-item {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 20px;
}

.nav-list .list-item:hover, .nav-list .list-item:hover a {
    background-color: #ffffff;
    color: green;
}

.logo:hover {
    background: rgb(2, 43, 16);
}

.menu {
    display: none;
}

.navbar ul li a {
    color: white;
}

@media all and (max-width: 1000px) {
    .navbar {
        font-size: 0.8rem;
    }
}

@media all and (max-width: 720px) {
    .navbar {
        flex-direction: column;
    }
    .nav-list {
        width: 100%;
        text-align: center;
        padding-top: 10px;
    }
    .nav-list .list-item {
        display: block;
        padding: 10px;
        border-top: 1px solid white;
    }
    .navbar .logo {
        max-width: 80%;
    }
}
