/*------------------------------
	Events
--------------------------------*/
* {
    box-sizing: border-box;
}

.event-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.event-content img {
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    object-fit: cover;
}