---
layout: default
---

<!-- ======= Home Section ======= -->
<section id="hero">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" style="background-image: url(images/backgrounds/jpg/bg1.jpg)">
      <div class="carousel-container">
        <div class="container">
          <h1 style="color: #fff">
            Society of Hispanic Professional Engineers
          </h1>
          <img class="eagle-logo" src="/images/eagle_logo.png" alt="UNT Eagle Logo"/>
          <h1 style="color: #fff">University of North Texas</h1>
          <a href="about" class="btn btn-home btn-medium">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>
