---
layout: default
---

<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <p class="team-title">2022 - 2023 UNT TEAM</p>
  <div class="container">
    <div class="section-header">
      <h3>Executive Board</h3>
    </div>

    <div class="exec-board">
      <div class="row-3">
        <div class="member column">
          <img src="/images/officers/png/Humberto.png" alt="" />
          <div class="member-info">
            <p class="name">Humberto Romero</p>
            <p class="office-position">President</p>
            <p class="degree">Electrical Engineering</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/humberto-romero-062524178/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div class="member column">
          <img src="/images/officers/png/Chris.png" alt="" />
          <div class="member-info">
            <p class="name">Chris Gomez</p>
            <p class="office-position">External Vice President</p>
            <p class="degree">Engineering</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/chris-gomez-86976b1ba/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div class="member column">
          <img src="/images/officers/png/Josh.png" alt="" />
          <div class="member-info">
            <p class="name">Josh Medrano</p>
            <p class="office-position">Internal Vice President</p>
            <p class="degree">Mechanical and Energy Engineering</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/joshua-christian-medrano-759183ba/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="row-3">
        <div class="member column">
          <img src="/images/officers/png/Ryan.png" alt="" />
          <div class="member-info">
            <p class="name">Ryan Melon</p>
            <p class="office-position">Secretary</p>
            <p class="degree">Mechanical and Energy Engineering</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/ryanmelon"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div class="member column">
          <img src="/images/officers/png/Diana.png" alt="" />
          <div class="member-info">
            <p class="name">Diana Gallegos</p>
            <p class="office-position">Treasure</p>
            <p class="degree">Computer Science</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/dianagallegoscastillo/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div class="member column">
          <img src="/images/officers/png/Raul.png" alt="" />
          <div class="member-info">
            <p class="name">Raul Vides</p>
            <p class="office-position">Public Relations</p>
            <p class="degree">Electrical Engineering</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/rvides24/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="row-1">
        <div class="member column">
          <a href="/officers/Dominic.html"><img src="/images/officers/png/Dominic.png" alt=""/></a>
          <div class="member-info">
            <p class="name">Dominic Carrillo</p>
            <p class="office-position">Graduate Representative</p>
            <p class="degree">Computer Engineering</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/dwc13/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end exec-board -->

    <div class="section-header">
      <h3>Chairs</h3>
    </div>

    <div class="chair-board">
      <div class="row-3">
        <div class="member column">
          <img src="/images/officers/png/Jasmine.png" alt="" />
          <div class="member-info">
            <p class="name">Jasmine Ramirez</p>
            <p class="office-position">SHPE Junior</p>
            <p class="degree">Biomedical Engineering</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/jasmine-gloria-ramirez-990b011b6/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div class="member column">
          <img src="/images/officers/png/Eunice.png" alt="" />
          <div class="member-info">
            <p class="name">Eunice Batista</p>
            <p class="office-position">Academic Chair</p>
            <p class="degree">Mechincal and Energy Engineering</p>
            <div class="social">
            	<a href="https://www.linkedin.com/in/eunice-batista-479421156/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div class="member column">
          <a href="/officers/Edwin.html"><img src="/images/officers/png/Edwin.png" alt=""/></a>
          <div class="member-info">
            <p class="name">Edwin Soto Villela</p>
            <p class="office-position">Webmaster</p>
            <p class="degree">Computer Science</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/edwin-soto-villela/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="row-3">
        <div class="member column">
          <img src="/images/officers/png/Steven.png" alt="" />
          <div class="member-info">
            <p class="name">Steven Jamica</p>
            <p class="office-position">Historian</p>
            <p class="degree">Computer Science</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/steven-link/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div class="member column">
          <img src="/images/officers/png/Cecila.png" alt="" />
          <div class="member-info">
            <p class="name">Cecila Rodriguez</p>
            <p class="office-position">Social Chair</p>
            <p class="degree">Mechanical and Energy Engineering</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/ceciliarodriguez23/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div class="member column">
          <img src="/images/officers/png/Fernanda.png" alt="" />
          <div class="member-info">
            <p class="name">Fernanda Padilla</p>
            <p class="office-position">SHPEtinas Director</p>
            <p class="degree">Construction Engineering</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/maria-f-padilla-plates/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="row-2">
        <div class="member column">
          <img src="/images/officers/png/RyanTijerina.png" alt="" />
          <div class="member-info">
            <p class="name">Ryan Tijerina</p>
            <p class="office-position">MentorSHPE</p>
            <p class="degree">Mechanical and Energy Engineering</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/ryan-tijerina-231486180/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div class="member column">
          <img src="/images/officers/png/Jamie.png" alt="" />
          <div class="member-info">
            <p class="name">Jaime Martinez</p>
            <p class="office-position">Athletic Director</p>
            <p class="degree">Accounting</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/jaime-martinez-823275172/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end chair-board -->
  </div>
  <!-- end container -->
</section>
<!-- End Team Section -->
